body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f5f5dc;
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffd700;
    border-style: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ccac00;
}

h1 {
    font-size: 30px;
}

/* styles to apply to every row/section */

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

/* header styles */

.section.header {
    background-color: #990000;
}

.section.header .content {
    justify-content: space-between;
}

.section.header a {
    color: #f5f5dc;
}

.content .header-logo {
    font-size: 24px;
}

.content .links ul {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 16px;
}

/* hero styles */

.section.hero {
    background-color: #990000;
}

.section.hero .content {
    justify-content: space-between;
    gap: 20px;
}

.content .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.content .hero-left p {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
}

.content .hero-right img {
    width: 300px;
    border: 4px solid #ffd700;
    border-radius: 8px;
}

/* preview styles */

.section.preview {
    background-color: #06470c;
}

.section.preview .content {
    flex-direction: column;
}

.section.preview .preview-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
    gap: 32px;
}

.preview-image {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 0;
}

.preview-image p {
    text-align: center;
}

.section.preview img {
    height: 150px;
    width: 200px;
    border: 4px solid #ffd700;
    border-radius: 8px;
}

/* quote styles */

.section.quote {
    background-color: #990000;
}

.section.quote .content {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
}

.section.quote #quote-real {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    text-align: center;
}

.section.quote #quote-santa {
    font-size: 24px;
    align-self: flex-end;
    color: #000000;
    font-weight: bolder;
}

/* call to action styles */

.section.call-to-action {
    background-color: #8B4513;
    padding: 48px;
}

.section.call-to-action .content {
    background-color: #b5651d;
    display: flex;
    justify-content: space-around;
    margin: 36px 0px;
    padding: 48px 0;
    border: 4px solid #b38f00;
    border-radius: 8px;
}

.section.call-to-action .content .call-to-action-text {
    display: flex;
    flex-direction: column;
}

.call-to-action-text p {
    margin: 2px;
}

#excite {
    font-size: 28px;
    font-weight: 700;
}

.section.call-to-action .content button {
    font-size: 16px;
    padding: 12px;
}

/* footer styles */

.section.footer {
    background-color: #5C3317;
}

.section.footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}